/*font-family: 'Playball', cursive;
font-family: 'Poppins', sans-serif;*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
/* Navigation */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    top: 0;
    position: sticky;
    z-index: 1000%;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #f6b58f 0%, #f0d285 100%);
}

#logo{
    font-family: 'Playball', cursive;
    font-size: 30px;
    color: grey;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.nav-links a{
    font-size: 14px;
}
a:link, a:visited, a:active
{
    color: white;
    text-decoration: none;
}

.nav-links li{
    list-style: none;
}

/* nav links hover effect*/
a:hover{
    color: #15574f;
}

/* burger style */
.burger div{
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: white;
}
 .burger{
     display: none;
 }
/* Burger menu- mobile version */
 @media screen and (max-width: 760px){
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
    }
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
    button{
        display: none;
    }
 }

 /* hero section with image */
 .hero-section{
    background-image: url(lidye-1Shk_PkNkNw-unsplash.jpg);
     opacity: 0.75;
     width: 100%;
     height: 100%;
     margin: auto;
     color: aliceblue;
     text-align: center;
     padding: 200px;
     background-position: center;
     background-size: cover;
 }

 .title h1{
    font-family: 'Playball', cursive;
    color: rgb(175,200,97);
}

 .hero-section{
     font-size: 35px;
     text-transform: capitalize;
  }

  /* Button */
button{
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif; 
    margin-top: 18px;
    background-image: linear-gradient(45deg, #95e5bd 0%, #efecaa 100%);
    color: #5e4e4e;
    letter-spacing: 1px;

    /* button color transition */
    transition: 0.5s;
    background-size: 200% auto;       
    box-shadow: 0 0 2px #eee;
    border-radius: 10px;
}

/* button hover effect */
button:hover{
    background-position: right center; /* change the direction of the change here */
    color: red;
  }

  /* What we do section */
.icon{
    width: 32px;
    height: 32px;
}

.content-container{
 width: 100%;
 height: 450px;
 margin: auto;
 text-align: center;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    line-height: 40px;
    justify-content: center;
    flex-direction: block;
    flex-wrap: no-wrap;
}

.what-we-do, .h4-food-gallery, .h4-our-team{
    padding: 30px;
}

.what-we-do, .h4-food-gallery, .h4-our-team
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #15574f 0%,
    #b899db 29%,
    #ad6e83 67%,
    #fff70099 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textile 4s linear infinite;
  text-align: center;
}

@keyframes textile {
  to {
    background-position: 200% center;
  }
}

.info-delivery, .info-make, .info-vegan, .info-pizza
{
border-radius: 70px;
padding: 30px 30px 30px 30px;
margin: 10px;
width: 350px;
height: 350px;
}

.flex-container{
color: #616265;
}

h3{
    color: #5e4e4e;
}

/* Info boxes- hover/opacity effect*/
.info-delivery:hover{
    padding: 10px;
}
.info-make:hover{
    padding: 10px;
}
.info-vegan:hover{
    padding: 10px;
}
.info-pizza:hover{
    padding: 10px;
}

/* Mobile version for info/ icons boxes */
@media only screen and (max-width: 760px) {
    .mobile-version{
    display: none;
    }
    .info-delivery, .info-make, .info-vegan, .info-pizza{
        height: 50px;
    }
    .content-container{
        height: 100%;
        margin-bottom: 50px;
    }
  }
  
/* Container our story section */
.main-container-our-story{
    width: 100%;
    margin: auto;
    display: flex;
}

.flexcontainer-our-story{
        background-color: #dedada;
        width: auto;
        display: flex;
        justify-content: baseline;
        flex-wrap: wrap;
        
}

/* Mobile version for our story section */
@media only screen and (max-width: 760px) {
    .paragraph{
    display: none;
    }
    .flexcontainer-our-story{
        justify-content: center;
    }
    h2{
        display: none;
    }
  }

  /*OU Story section*/
.our-story-container{
    max-width: 50%;
    height: auto;
    padding: 200px;
    background-image: url("sebastien-marchand-oVIUvwm2dvM-unsplash.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.80;
}

.image-container{
    max-width: 50%;
    height: auto;
    background-image: url(ourstory.jpg);
    padding: 200px;
    background-position: center;
    background-size: cover;
    opacity: 0.80;
    flex-grow: 1;
}

.our-story{
    font-family: 'Playball', cursive;
    font-size: 50px;
    color: #f0d582;
    flex-grow: 1;
}

.paragraph{
    font-size: 20px;
    color: white;
}


/* IMG gallery- flexbox */
.flexcontainer-food-img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #15574f;
    padding: 100px;
}


/* IMG gallery- img container size */
.img-1{
    width: 280px;
    height: 250px;
    padding: 10px;
}

.img-2{
    width: 280px;
    height: 250px;
    padding: 10px;
}

.img-3{
    width: 280px;
    height: 250px;
    padding: 10px;
}

.img-4{
    width: 280px;
    height: 250px;
    padding: 10px;
}

.img-5{
    width: 280px;
    height: 250px;
    padding: 10px;
}

.img-6{
    width: 280px;
    height: 250px;
    padding: 10px;
}

/* IMG gallery- hover/opacity effect*/
.img-1:hover{
    opacity: 0.40;
    padding: 5px;
}
.img-2:hover{
    opacity: 0.40;
    padding: 5px;
}

.img-3:hover{
    opacity: 0.40;
    padding: 5px;
}

.img-4:hover{
    opacity: 0.40;
    padding: 5px;
}

.img-5:hover{
    opacity: 0.40;
    padding: 5px;
}
.img-6:hover{
    opacity: 0.40;
    padding: 5px;
}

/* Team section, flexcontainer */
.flexcontainer-team{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}

/* Team section, img.resizing */
.team-Aiza, .team-Tom, .team-Brooke, .team-Marquis{
    width: 300px;
    height: 400px;
    border-radius: 30%;
    padding: 30px;
}

/* Team section- hover/opacity effect */
.team-Aiza:hover{
    opacity: 0.40;
    padding: 5px;
}
.team-Tom:hover{
    opacity: 0.40;
    padding: 5px;
}
.team-Brooke:hover{
    opacity: 0.40;
    padding: 5px;
}
.team-Marquis:hover{
    opacity: 0.40;
    padding: 5px;
}

/* team section- text styling p */
.name{
    font-size: larger;
    color: 	#e5a478;
}
.team-p{
    color: #616265;
}

/* FOOTER */
footer{
    width: 100%;
    margin: auto;
    height: 100px;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    background-color: #ad6e83;
    color: 	#e5a478;
    align-items: center;
    justify-content: space-around;
}

.social-media-icons, ul, li{
    list-style: none;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.instagram{
    width: 70px;
    height: 70px;
}
.facebook{
    width: 70px;
    height: 70px;
}
.twitter{
    width: 70px;
    height: 70px;
}

/**/
.instagram:hover{
    padding: 10px;
    opacity: 0.60;
}
.facebook:hover{
    padding: 10px;
    opacity: 0.60;
}

.twitter:hover{
    padding: 10px;
    opacity: 0.60;
}
